In [1]:
import pandas as pd

In [2]:
cd data

C:\Users\vince\Documents\Northwestern\Linkedin Learning\Customer Insights and Consumer Analytics for Organizations Tools and Analysis\data

In [3]:
ls

 Volume in drive C is Windows
 Volume Serial Number is D644-2CD6

 Directory of C:\Users\vince\Documents\Northwestern\Linkedin Learning\Customer Insights and Consumer Analytics for Organizations Tools and Analysis\data

12/22/2020  08:28 PM    <DIR>          .
12/22/2020  08:28 PM    <DIR>          ..
06/26/2019  11:03 AM           128,561 ci-data.csv
               1 File(s)        128,561 bytes
               2 Dir(s)  894,498,439,168 bytes free

In [4]:
data_to_assess = pd.read_csv('ci-data.csv')

In [5]:
data_to_assess

,id,purchase_counts,purchase_sum,attribution_score,website_visits,website_behavior_classification,experience,active,characteristic_one,characteristic_two,characteristic_three,customer_journey_progress_program,remarks
0,5ca74cdcfc13ae60bd000097,5,44810.57,4,14,5,0.00,2.05,1,25,3,2,In hac habitasse platea dictumst. Etiam faucib...
1,5ca74cddfc13ae60bd0000f5,5,30612.91,9,7,9,0.00,4.94,2,25,3,1,Praesent blandit. Nam nulla. Integer pede just...
2,5ca74cddfc13ae60bd00010a,7,35655.59,3,26,5,0.00,3.61,1,26,1,1,Praesent id massa id nisl venenatis lacinia. A...
3,5ca74cdcfc13ae60bd000073,7,30139.24,7,9,4,0.01,4.44,2,26,3,1,In hac habitasse platea dictumst. Morbi vestib...
4,5ca74cdcfc13ae60bd000040,4,4501.13,3,10,1,0.02,4.51,1,25,3,1,Pellentesque at nulla. Suspendisse potenti. Cr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,5ca74cdcfc13ae60bd000013,4,1426.58,9,3,5,0.99,4.99,2,25,2,7,In hac habitasse platea dictumst. Etiam faucib...
396,5ca74cddfc13ae60bd0000e3,7,13374.10,1,28,4,0.99,2.38,1,25,6,10,Duis consequat dui nec nisi volutpat eleifend....
397,5ca74cddfc13ae60bd000117,1,23515.38,11,7,4,0.99,1.48,1,25,3,10,Nulla ut erat id mauris vulputate elementum. N...
398,5ca74cdcfc13ae60bd0000ad,2,9976.02,12,12,8,1.00,4.65,2,25,2,10,Cum sociis natoque penatibus et magnis dis par...
399,5ca74cddfc13ae60bd000103,3,14947.74,11,16,7,1.00,1.71,2,24,6,2,Phasellus in felis. Donec semper sapien a libe...

In [6]:
data_to_assess.columns

Index(['id', 'purchase_counts', 'purchase_sum', 'attribution_score',
       'website_visits', 'website_behavior_classification', 'experience',
       'active', 'characteristic_one', 'characteristic_two',
       'characteristic_three', 'customer_journey_progress_program', 'remarks'],
      dtype='object')

In [7]:
len(data_to_assess)

400

In [8]:
data_to_assess.describe()

,purchase_counts,purchase_sum,attribution_score,website_visits,website_behavior_classification,experience,active,characteristic_one,characteristic_two,characteristic_three,customer_journey_progress_program
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.00000,400.00000,400.000000,400.000000
mean,4.047500,24631.522625,5.947500,16.775000,6.340000,0.495700,3.085650,1.51250,25.09750,3.892500,5.387500
std,1.998808,14240.431535,3.909342,9.204411,3.392369,0.295642,1.151398,0.50047,0.98764,2.021425,2.925533
min,1.000000,48.130000,0.000000,1.000000,1.000000,0.000000,1.010000,1.00000,22.00000,1.000000,0.000000
25%,2.000000,12235.735000,2.000000,9.000000,3.750000,0.240000,2.115000,1.00000,25.00000,2.000000,3.000000
50%,4.000000,25002.425000,6.000000,16.000000,6.000000,0.470000,3.160000,2.00000,25.00000,4.000000,5.000000
75%,6.000000,36221.350000,9.000000,25.000000,9.000000,0.742500,4.120000,2.00000,26.00000,6.000000,8.000000
max,7.000000,49970.640000,12.000000,32.000000,12.000000,1.000000,5.000000,2.00000,28.00000,7.000000,10.000000

In [9]:
data_to_assess.isnull().values.any()

False